<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Mini Users{% endblock %} · Mini Users</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header class="site-header">
    {% block nav %}{% include "_navbar.html" %}{% endblock %}
  </header>

  <main class="container">
    {% include "_flash.html" %}
    {% block content %}{% endblock %}
  </main>

  <footer class="site-footer">Proyecto Unidad I · Flask + SQLAlchemy + Flask-WTF</footer>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
